
.information.top ul,
.information.top ul li {
    position: relative;
    text-align: left;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.information.top ul li:last-child {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.scores{
    color: purple;
}


#start{
    background-color: purple;
    color: white;
    border-radius: 15%;
    height: 35px;
    font-size: medium;
    text-align: left;
    cursor: pointer;

}


#question{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.choice{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    background-color: purple;
}


#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: center;
}

/*Muestra el score final, como 100% pero en el cuadro transparente -SOLO SCORECONTAINER */
#scoreContainer{
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
